body {
  margin: 0;
  padding: 0;
  background: url("file:///Users/tumac.cl/Downloads/18702139_sep09.jpg") center center no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  font-family: 'Fjalla One', sans-serif;
  color: #2A293E;
}

/* Form container */
.contact-us {
  background: #f8f4e5;
  padding: 50px 100px;
  border: 2px solid rgba(0, 0, 0, 1);
  box-shadow: 15px 15px 1px #434242, 15px 15px 1px 2px rgba(61, 60, 60, 0.94);
}

/* Form title */
h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24pt;
}

/* Inputs and selects */
input,
select {
  display: block;
  width: 100%;
  font-size: 14pt;
  line-height: 28pt;
  font-family: 'Fjalla One', sans-serif;
  margin-bottom: 28pt;
  border: none;
  border-bottom: 5px solid rgba(0, 0, 0, 1);
  background: #f8f4e5;
  min-width: 250px;
  padding-left: 5px;
  outline: none;
  color: rgba(0, 0, 0, 1);
}

/* Focus effects */
input:focus,
select:focus {
  border-bottom: 5px solid #ffa580;
}

/* Button */
button {
  display: block;
  margin: 0 auto;
  line-height: 28pt;
  padding: 0 20px;
  background: #a19f9f;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 3px 3px 1px 1px #434242, 3px 3px 1px 2px rgba(0, 0, 0, 1);
  cursor: pointer;
}

button:hover {
  background: rgba(0, 0, 0, 1);
  color: white;
  border: 1px solid rgba(0, 0, 0, 1);
}

/* Text selection highlight */
::selection {
  background: #ffc8ff;
}

/* Autofill fix */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border-bottom: 5px solid #95a4ff;
  -webkit-text-fill-color: #2A293E;
  -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
  transition: background-color 5000s ease-in-out 0s;
}
